/* fonts 
.laila-light {
  font-family: "Laila", serif;
  font-weight: 300;
  font-style: normal;
}

.laila-regular {
  font-family: "Laila", serif;
  font-weight: 400;
  font-style: normal;
}

.laila-medium {
  font-family: "Laila", serif;
  font-weight: 500;
  font-style: normal;
}

.laila-semibold {
  font-family: "Laila", serif;
  font-weight: 600;
  font-style: normal;
}

.laila-bold {
  font-family: "Laila", serif;
  font-weight: 700;
  font-style: normal;
}


*/





body{
    padding: 0px;
    margin: 0px;
}
.page1{
    
    height: 100vh;
    width: 100vw;
    background-size: 100vw 100vh;
    filter: grayscale(25%);
    background-image: url(Assets/page1background.jpg);
    border-bottom-right-radius: 1%;
    border-bottom-left-radius: 1%;
}
.header{
    font-size: 1.1rem;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    color:aliceblue;
}
.page1content{
    /* padding-top: -2rem; */
    color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
  height: 100vh;
}
.title{
    font-size:7rem;
    font-family: "Laila", serif;
}
.reservetable{
    border-radius:100px;;
    border: 1px solid ;
    padding: 10px;
 

}


/* page 2 */
.page2{
  height: 100vh;
    width: 100vw;
    background-size: 100vw 100vh;
    filter: grayscale(25%);
    background-image: url(Assets/page2background.jpg);
}

.page2content{
  /* padding-top: 9rem; */
  color:rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
  height: 100vh;
}

.page2title{
  font-size:3rem;
  font-family: "Laila", serif;
} 

.page2subtitle{
  width: 50%;
  text-align:center;
}

.page2img1{
  height: auto; 
  width: 12%;
  position: absolute;
  transform: rotate(-20deg);
  top: 10rem;
  left: 10rem;
}
.page2img2{
  height: auto; 
  width: 12%;
  position: absolute;
  transform: rotate(20deg);
  bottom: 10rem;
  right: 10rem;
}

.page2learnmore{
  border-radius:100px;;
  border: 1px solid ;
  padding: 15px;
  background-color: black;
  color: white;


}

.page2story{
  color: rgb(68, 68, 0);
}


/* page 3 */
.page3{
  background-color: rgb(238, 238, 238);
  height: 100vh;
  width: 100vw;
 

}

.page3content{
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  align-items: center;
}
.page3texttitle{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-self: flex-end;
  
}
.page3fooditems{
  display: flex;
  background-size: 10px 10px;
  justify-content: center;
  gap: 2rem;
  border-radius: 2%;
}
.food11{

 height: 20rem ;
width: 15rem;
background-size: cover;
border-radius: 5%;
}

.page3fooditems p{
  text-align: left;
  font-size: 1.3rem;
}

.food22{

  height: 20rem ;
width: 15rem;
background-size: cover;
border-radius: 5%;
}
.food33{
 
  height: 20rem ;
width: 15rem;
border-radius: 5%;
background-size: cover;
}
.food44{
  
  height: 20rem ;
width: 15rem;
border-radius: 5%;
background-size: cover;
}
.food55{
  
  height: 20rem ;
width: 15rem;
border-radius: 5%;
background-size: cover;
}

.page3title{
  font-size:5rem;
  font-family: "Laila", serif;
}

.page3footer{
 align-self: center;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  

}
.page3footer p{
margin: 0;
}
.page3lowercaption{
  text-align: left;
}

/* page4 */
.page4{
  background-color: rgb(238, 238, 238);
  height: 100vh;
  width: 100vw;
}
.page4img1container{
  
}
.page4container{
  display: grid;
grid-template: auto auto 1fr / 1fr 1fr 1fr 1fr 1fr;
height: 100vh;
width: 100vw;
}


.page4subtitle{
  height: 10px;

  grid-area: 1/1/2/6;
 
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page4img1container{
  grid-area: 2/1/4/4;
  /* background-image: url(Assets/page4img1.jpg);
  background-size: cover;*/
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  margin-left: 3rem; 
}
.page4img1{
  height: 10;
}
.page4overtext{
  grid-area: 2/3/3/6;
  font-family: "Laila", serif;
  font-size: 8rem;
  height: 100%;

}
.page4leftfooter{
  grid-area: 3/4/4/6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}